@using Core.Models
@model List<Doctor>

    <h1>
        Doctors
    <a class="btn btn-primary" asp-action="Create">Create</a>
    </h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td>@item.Position</td>
            <td>
                    <div style="width:100px">
                        <img width="100%" src="~/Upload/Doctor/@item.ImgUrl">
                    </div>
            </td>
                <td>
                    <a class="btn btn-dark" asp-action="Update" asp-controller="Doctor" asp-route-id=@item.Id>Update</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Doctor" asp-route-id=@item.Id>Delete</a>

                </td>
        </tr>
        
        }
    </tbody>
</table>